/* Flexbox layout for the typing bar */
.type-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.target-text {
  margin-bottom: 10px; /* Space between prompt and input box */
  word-wrap: break-word;
  color: #4dffff;
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  letter-spacing: 1px;
  transition: all 0.6s ease;
}

.target-text:hover {
  color: #80ffff;
  text-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
  transform: scale(1.02);
}

.typed-text {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 1.1rem !important;
  font-family: "Orbitron", sans-serif !important;
  color: #4dffff !important;
  background: rgba(0, 255, 255, 0.15);
  border: 2px solid rgba(0, 255, 255, 0.4);
  border-radius: 6px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  height: 35px;
  line-height: 15px;
}

.typed-text::placeholder {
  color: rgba(0, 255, 255, 0.6) !important;
  transition: all 0.6s ease;
  font-size: 1.1rem !important;
  line-height: 15px;
}

.typed-text:hover {
  border-color: rgba(0, 255, 255, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.4);
  background: rgba(0, 255, 255, 0.3);
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.typed-text:hover::placeholder {
  color: rgba(0, 255, 255, 0.8);
}

.typed-text:focus {
  outline: none;
  border-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  transform: scale(1.02);
}

.typed-text.frozen {
  background-color: #e0f7ff;
  border-color: #80d8ff;
  cursor: not-allowed;
}

/* Snow and icicle images */
.snow-right {
  position: absolute;
  top: 13px;
  right: -240px;
  z-index: 1;
  height: 65px;
}

.icicle-1 {
  position: absolute;
  top: -9px;
  left: 350px;
  z-index: 1;
  height: 60px;
}

.icicle-2 {
  position: absolute;
  top: -10px;
  right: 164px;
  z-index: 1;
  height: 70px;
}

.icicle-3 {
  position: absolute;
  top: -9px;
  left: 199px;
  z-index: 1;
  height: 60px;
}

.icicle-4 {
  position: absolute;
  top: -6px;
  right: 119px;
  z-index: 1;
  height: 40px;
}

.icicle-5 {
  position: absolute;
  top: -9px;
  right: 290px;
  z-index: 1;
  height: 60px;
}
