.App-container {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  width: 100%;
  max-width: 960px;
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
}

/* Allow Battle page to break out of container */
.App-container.battle-page {
  max-width: none;
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
